<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR_SPLUNK" value="logs/splunk"/>

    <!--    Log console-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp": %d{dd-MM-yyyy HH:mm:ss.SSS}, "message": %msg, "logger_name": %logger{35}, "thread_name": [%thread], "level": %-5level}%n</pattern>
        </encoder>
    </appender>


    <!--    Exemplo 1 - saida log é anexado somente em um arquivo -->
    <appender name="splunk" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR_SPLUNK:-env/}/splunk.txt</file>
        <append>true</append>
        <encoder>
            <pattern>{"timestamp": %d{dd-MM-yyyy HH:mm:ss.SSS}, "message": %msg, "logger_name": %logger{35}, "thread_name": [%thread], "level": %-5level}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ciandt.ExceptionsMyMusic" level="info" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="splunk"/>
    </logger>
</configuration>
